@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

@theme {
  --font-sans: var(--font-poppins);
  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}
